* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Norse Bold";
    src: url(../fonts/Norse-Bold.otf);
}

.form {
    display: flex;
    flex-direction: row;
}

.left {
    background: center / cover url(../images/background-image.jpg);
    width: 35%;
    height: 100vh;
}

.right {
    flex-direction: column;
    width: 65%;
    font-family: 'Roboto', sans-serif;
}

.background-text {
    display: flex;
    color: white;
    width: 35%;
    font-size: 7vw;
    justify-content: center;
    align-items: center;
    font-family: "Norse Bold", system-ui;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 20%;
}

.background-text img {
    width: 100px;
}

#credit {
    position: absolute;
    bottom: 2%;
    left: 10%;
    color: rgba(245, 245, 245, 0.885);
}
#credit a:link {
    color: rgba(255, 255, 255, 0.908);
}

#credit a:visited {
    color: rgba(255, 255, 255, 0.625);
}

.top-part {
    flex-direction: column;
    background-color: rgb(249, 250, 251);
    padding: 170px 200px 50px 30px;
    font-weight: 550;
    font-size: calc(18px + 0.1em);
}

.central-part {
    flex-direction: column;
    font-weight: 550;
    background-color: rgb(255, 255, 255);
}

label {
    font-size: calc(10px + 0.001vw);
    letter-spacing: 1.2px;
}

form {
    padding-left: 30px;
}

input {
    margin: 0 20px 20px 0;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    
}

input:focus {
    border-color:lightblue;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.179);
}

input:invalid {
    border-color: red;
}

.bottom-part {
    flex-direction: column;
    background-color: rgb(249, 250, 251);
    padding: 20px 0 0 30px;
    height: 36%;
}

.bottom-part a {
    color: #596D48;
}

.bottom-part a:visited {
    color: #4c732a;
}

.bottone {
    padding: 10px 50px;
    background-color: #596D48;
    color: white;
    font-weight: 600;
    font-size: calc(16px + 00.1em);
    border-radius: 10px;
    margin-bottom: 30px;
}